.table
	border-radius: var(--border-radius)
	overflow: hidden
	background-color: #f5f6f6
	font:
		size: 15px
		weight: 300
		
	&__row
		display: grid
		
		&:not(:last-child)
			border-bottom: 1px solid #e6e9ea
			
	&__header
		background-color: var(--accent-color)
		color: #fff
		font-weight: 500
		
		@include respond-below(sm)
			display: none
	
	&__cell
		padding: 12px
		
	&__hint
		color: #797979
		font-size: 12px
		margin-top: 6px